<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
   <%include ../title/title%>
</head>
<body>
	<%include ../header/header%>
	<div id="main_container">
		<div id="focus">
			<img src="<%=imgurl%>">
		</div>
		<div class="menu_cont">
			<div class="left_shadow">
				
			</div>
			<ul id="menu">
				<li onclick="homePhone()">首页推荐</li>
			</ul>
			<div class="right_shadow">
				
			</div>
		</div>
		
		<div id="articles">
			<%include ../../../public/views/phone/articleList%>
		</div>
	</div>
<%include ../footer/footer%>
<script src="//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>	
<script src="/js/plugins/ejs/ejs.js" type="text/javascript"></script>
<script src="/js/phone/share.js" type="text/javascript"></script>
</body>
	
</html>