
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户协议及隐私政策-享留学</title>
<link href="/css/agreement/agreement.css" rel="stylesheet" type="text/css" />
<script src="/compat-files/html5.js"></script>
</head>

<body>
<header>
    <dl style="width:990px;margin:auto">
        <dt class="logo"><a href="http://www.xxxxxbbs.com"></a></dt>
    </dl>
</header>
<div id="container">
<h1>云猫网络科技责任有限公司《用户协议及隐私政策》</h1>
<div>
  <dl>
    <dt>1、服务条款的确认和接纳</dt>
    <dd>
      <p>享留学的所有权和运作权归云猫网络科技责任有限公司所有。用户请先在清晰阅读此协议后，再完成注册，一旦注册成功，表示用户与云猫网络科技责任有限公司达成协议并接受所有的服务条款。</p>
    </dd>
    <dt>2、服务简介</dt>
    <dd>
      <p>享留学软件及网站是一个向广大用户提供留学类兴趣的分享平台，自身不上传分享任何内容，亦不对用户上传的信息承担任何担保责任。您了解并同意，本平台提供的服务仅依其当前所呈现的状况提供，对于任何用户信息或设定之时效、删除、传递错误、未予储存和其他问题，享留学不承担任何责任。享留学保留不经事先通知为维护调整、升级或其他目的暂停本服务任何部分的权利。</p>
    </dd>
    <dt>3、使用规则</dt>
    <dd>
      <ul>
        <li>(1)用户在申请使用享留学提供的网络服务时，必须向享留学提供准确的个人资料，如个人资料有任何变动，必须及时更新。</li>
        <li>(2)用户注册成功后，享留学将给予每个用户一个用户账号及相应的密码，该用户账号和密码由用户负责保管；用户应当对以其用户账号进行的所有活动和事件负法律责任。</li>
        <li>(3)用户在使用享留学某些版块时，享留学需要对用户身份进行特别验证，具体的验证方式以各频道页面显示为准。</li>
        <li>
          (4)用户在使用享留学服务过程中，必须遵循以下原则：
          <ul style="margin-left:1.5em;">
            <li>(a) 遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线；</li>
            <li>(b) 不得为任何非法目的而使用网络服务系统；</li>
            <li>(c) 遵守所有与网络服务有关的网络协议、规定和程序；</li>
            <li>(d) 不得利用享留学务系统进行任何可能对互联网的正常运转造成不利影响的行为；</li>
            <li>(e) 不得利用享留学服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</li>
            <li>(f) 不得利用享留学服务系统进行任何不利于云猫网络科技责任有限公司的行为；</li>
          </ul>
        </li>
      </ul>
    </dd>
    <dt>4、用户隐私制度</dt>
    <dd>
      <p>尊重用户个人隐私是云猫网络科技责任有限公司的一项基本政策。所以，云猫网络科技责任有限公司一定不会公开、编辑或透露用户的注册资料及保存在享留学各项服务中的非公开内容，除非云猫网络科技责任有限公司在诚信的基础上认为透露这些信息在以下几种情况是必要的：</p>
      <ul>
        <li>(1)遵守有关法律规定，包括在国家有关机关查询时，提供用户在享留学的网页上发布的信息内容及其发布时间、互联网地址或者域名。</li>
        <li>(2)遵从享留学产品服务程序。</li>
        <li>(3)保持维护云猫网络科技责任有限公司的商标所有权。</li>
        <li>(4)在紧急情况下竭力维护用户个人和社会大众的隐私安全。</li>
        <li>(5)云猫网络科技责任有限公司认为必要的其他情况下。</li>
      </ul>
      <p><b>用户在此授权云猫网络科技责任有限公司可以向其电子邮箱发送商业信息。</b></p>
    </dd>
    <dt>5、用户的账号、密码和安全性</dt>
    <dd>
      <p>您一旦注册成功成为用户，您将得到一个密码和账号。如果您未保管好自己的账号和密码而对您、享留学或第三方造成的损害，您将负全部责任。另外，每个用户都要对其帐户中的所有活动和事件负全责。您可随时改变您的密码和图标，也可以结束旧的帐户重开一个新帐户。用户同意若发现任何非法使用用户账号或安全漏洞的情况，立即通告享留学。</p>
    </dd>
    <dt>6、拒绝提供担保</dt>
    <dd>
      <p>用户明确同意邮件服务的使用由用户个人承担风险。服务提供是建立在免费的基础上。云猫网络科技责任有限公司明确表示不提供任何类型的担保，不论是明确的或隐含的，但是对商业性的隐含担保，特定目的和不违反规定的适当担保除外。云猫网络科技责任有限公司不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务的及时性、安全性、出错发生都不作担保。云猫网络科技责任有限公司拒绝提供任何担保，包括信息能否准确、及时、顺利地传送。用户理解并接受下载或通过云猫网络科技责任有限公司产品服务取得的任何信息资料取决于用户自己，并由其承担系统受损或资料丢失的所有风险和责任。用户不会从云猫网络科技责任有限公司收到口头或书面的意见或信息，云猫网络科技责任有限公司也不会在这里作明确担保。</p>
    </dd>
    <dt>7、未经云猫网络科技责任有限公司同意禁止进行商业性行为</dt>
    <dd>
      <p>用户承诺不经云猫网络科技责任有限公司书面同意，不能利用享留学各项服务在享留学或相关网站上进行销售或其他商业性行为。用户违反此约定，云猫网络科技责任有限公司将依法追究其违约责任，由此给云猫网络科技责任有限公司造成损失的，云猫网络科技责任有限公司有权进行追偿。</p>
    </dd>
    <dt>8、结束服务</dt>
    <dd>
      <p>用户或享留学可随时根据实际情况中断服务。享留学不需对任何个人或第三方负责而随时中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或对享留学服务不满，用户可以有以下的追索权：</p>
      <ul>
        <li>(1)不再使用享留学服务。</li>
        <li>(2)结束用户使用享留学服务的资格。</li>
        <li>(3)通告享留学停止该用户的服务。</li>
      </ul>
      <p>结束用户服务后，用户使用享留学服务的权利立即终止。从那时起，享留学不再对用户承担任何义务。</p>
    </dd>
    <dt>9、通告</dt>
    <dd>
      <p>所有发给用户的通告都可通过电子邮件或常规的信件或网页公告的方式传送。享留学会通过邮件服务或电子公告的方式发报消息给用户，告诉他们服务条款的修改、服务变更、或其它重要事情。享留学通过以上任一方式向用户发报消息后，用户未在3日内通过书面方式提出异议，视为接受新消息的内容。同时，云猫网络科技责任有限公司保留对用来申请享留学用户的电子邮箱投放商业性广告的权利。</p>
    </dd>
    <dt>10、知识产权</dt>
    <dd>
      <p>用户保证和声明对其所提供的作品拥有完整的合法的著作权，保证享留学使用该作品不违反国家的法律法规，也不侵犯第三方的合法权益或承担任何义务。用户应对其所提供作品因形式、内容及授权的不完善、不合法所造成的一切后果承担完全责任。用户同意享留学对其上传作品在全世界范围内享有免费的、永久性的、不可撤消的、独家的和完全的许可使用和再许可的权利。此许可和再许可权利包括但不限于此作品的著作权、邻接权及获得利益等权利。</p>
      <p>享留学保留对其网站所有内容进行实时监控的权利，并有权依其自主判断对任何违反本协议约定的作品实施删除。享留学对于删除用户作品引起的任何后果或导致用户的任何损失不负任何责任。</p>
      <p>因用户作品的违法或侵害第三人的合法权益而导致云猫网络科技责任有限公司或其关联公司对第三方承担任何性质的赔偿、补偿或罚款而遭受损失（直接的、间接的、偶然的、惩罚性的和继发的损失，包括但不限于云猫网络科技责任有限公司为此而支出的律师费、公证费、差旅费等费用。），用户对于云猫网络科技责任有限公司或其关联公司蒙受的上述损失承担全面的赔偿责任。</p>
    </dd>
    <dt>11、言论</dt>
    <dd>
      <p>用户承诺发表言论要：爱国、守法、自律、真实、文明。不传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、危害国家安全的、泄露国家机密的、破坏国家宗教政策和民族团结的以及其它违反法律法规及政策的内容。</p>
      <p>若用户的行为不符合以上提到的服务条款，享留学将作出独立判断立即取消用户服务账号。用户需对自己在网上的行为承担法律责任。</p>
    </dd>
    <dt>12、内容的所有权</dt>
    <dd>
      <p>内容的定义包括：文字、软件、声音、相片、录像、图表；电子邮件的全部内容；享留学虚拟社区服务为用户提供的商业信息。所有这些内容均受版权、商标、标签和其它财产所有权法律的保护。所以，用户只能在云猫网络科技责任有限公司授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。</p>
    </dd>
    <dt>13、免责与赔偿声明</dt>
    <dd>
      <ul>
        <li>(1)若云猫网络科技责任有限公司已经明示其网络服务提供方式发生变更并提醒用户应当注意事项，用户未按要求操作所产生的一切后果由用户自行承担。</li>
        <li>(2)用户明确同意其使用云猫网络科技责任有限公司网络服务所存在的风险将完全由其自己承担；因其使用云猫网络科技责任有限公司服务而产生的一切后果也由其自己承担，云猫网络科技责任有限公司对用户不承担任何责任。</li>
        <li>(3)云猫网络科技责任有限公司不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</li>
        <li>(4)用户同意保障和维护云猫网络科技责任有限公司及其他用户的利益，由于用户登录网站内容违法、不真实、不正当、侵犯第三方合法权益，或用户违反本协议项下的任何条款而给云猫网络科技责任有限公司或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</li>
      </ul>
    </dd>
    <dt>14、法律</dt>
    <dd>
      <p>用户和云猫网络科技责任有限公司一致同意有关本协议以及使用<b>云猫网络科技责任有限公司的服务产生的争议交由仲裁解决，但是云猫网络科技责任有限公司有权选择采取诉讼方式，并有权选择受理该诉讼的有管辖权的法院。</b>若有任何服务条款与法律相抵触，那这些条款将按尽可能接近的方法重新解析，而其它条款则保持对用户产生法律效力和影响。</p>
    </dd>
    <dt>15、享留学通行证所含服务的信息储存及安全</dt>
    <dd>
      <p>云猫网络科技责任有限公司对享留学通行证上所有服务将尽力维护其安全性及方便性，但对服务中出现信息删除或储存失败不承担任何负责。另外我们保留判定用户的行为是否符合云猫网络科技责任有限公司服务条款的要求的权利，如果用户违背了通行证服务条款的规定，将会中断其通行证服务的账号。</p>
    </dd>
    <dt>16、青少年用户特别提示</dt>
    <dd>
      <p>青少年用户必须遵守全国青少年网络文明公约：</p>
      <ul>
        <li>要善于网上学习，不浏览不良信息；</li>
        <li>要增强自护意识，不随意约会网友；</li>
        <li>要维护网络安全，不破坏网络秩序；</li>
        <li>要有益身心健康，不沉溺虚拟时空。</li>
      </ul>
    </dd>
  </dl>
</div>
</div>
</body>
</html>
