<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
   <% include ./title/title%>
   <link href="/css/article/artdetails.css" rel="stylesheet"> 
   <link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
</head>
<body>

	<nav id="header">
	<div class="headerTop">
		<div class="hdt_cont">
			<img src="/img/logo.png">
			<div class="search">
				<img src="/img/search.png">
				<input type="text" placeholder="输入内容搜索">
			</div>
				<div id="u_mes">
					<div id="login">登录&nbsp;</div>
					<div id="register">注册</div>					
				</div>
		</div>
	</div>
	<div class="headerbottom">
		<div class="hdb_cont">
			<a href="/"><div class="active">首页</div></a>
			<a href="/write"><div >我要发帖</div></a>
			<a href="/user" ><div >个人中心</div></a>
		</div>
	</div>
</nav>

	<div id="main_container">
	<h3 style="margin-top: 200px;font-size: 50px;color: #b9b9b9;text-align: center;width: 100%">出错了！！</h3>
	</div>

</body>
	
</html>