<li class="content_text">
	<div class="text_container">
		<h3>
			<div>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</h3>
		<span>×</span>
		<embed src="http://player.youku.com/player.php/Type/Folder/Fid/22127316/Ob/1/sid/XNjk1MDUyNzU2/v.swf" quality="high" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
	</div>
	<span id="new_content">+</span>
	<div id="add_cont" class="appendnew">
		<span class="cancel_newcont">×</span>
		<div class="add_">
			<span id="add_text">添加文字</span>
			<span id="add_img">添加图片
				<form id='myupload'  method='POST' enctype='multipart/form-data'>
				<input class="photoFileUpload"  name="attachment" type="file" accept="image/gif, image/jpeg, image/png">
				</form>
			</span>
			<span id="add_video">添加视频</span>
		</div>
		<div id="video">
			<span class="video_close">×</span>
			<h5>目前仅支持优酷视频</h5>
			<input type="text" class="video_input" placeholder="在此输入优酷视频连接">
			<button id="video_confirm">确认</button>
		</div>
	</div>
</li>