#focus{
	width   : 1200px;
	margin-left: auto;
	margin-right: auto;
	padding : 0px;
	height  : 300px;
	clear   : both; 
	overflow: hidden;
	position: relative;
}
.foc_img{
	transition: 0.5s;
	height: 300px;
	width: 100%;
}
.foc_img >  img {
	/*cursor : pointer; */
	height : 100%;
	width  : 100%;
}
#focus > div {
	position: absolute;
}
.foc_title{
	bottom : 50px;
	width  : 100%; 
	height : auto;
	text-align: center;
	color  : #fff; 
	overflow: hidden;
	margin-left : auto;
	margin-right: auto;
}
.foc_title > h1 {
	width     : 100% ;
	font-size : 40px  ;  
	text-align: center;
}
.foc_time{
	height    : 100px;
	overflow  : hidden;
	font-size : 24px;
	padding-top  : 2px;
	padding-left: 10px;
}
.home{
	font-weight: 600;
	color    : #7c7c7c; 
	cursor   : pointer; 
	font-size: 14px;
	padding  : 10px 15px 10px 15px;
	border   : 1px solid #eff3f5;
	border-radius: 20px;
}
#main_container{
	width: 1220px;
}
#articles{
	-webkit-box-shadow:0 0 5px rgba(255, 255, 255, .6);  
	-moz-box-shadow:0 0 5px rgba(255, 255, 255, .6);  
	box-shadow:0 0 5px rgba(255, 255, 255, .6);
	height  : auto;
	overflow: hidden;
	width   : 100%;
}
.article{ 
	transition: 0.5s;
	float   : left;
	width   : 305px;
	margin-top  : 10px; 
	padding : 8px 8px 0px 8px;
	position: relative;
	border:1px solid rgba(0,0,0,0);
	border-radius:1px;
}
.article > a {
	width: 100%;
	height: ;
}
.article_cont > a > img{
	background: #ebebeb;
	width: 100%;
	height: 174px;
}
.article_cont{
	width: 100%;
	height: auto;
	position: relative;
}
.article:hover{
	-webkit-box-shadow:0px 0px 5px rgba(200, 200, 200, .8);  
	-moz-box-shadow:0px 0px 5px rgba(200, 200, 200, .8);  
	box-shadow: 0px 0px 5px rgba(200, 200, 200, .8);
	border:1px solid #e3e6ee;
	background: #fff;
}
.art_type{
	position: absolute;
	top     : 20px;
	left    : 20px;
	color   : #fff; 
	padding: 2px 6px 2px 6px;
	border-radius: 3px;
	background: #41689e;
	font-size: 12px;
}
.article > img {
	width : 100%;
	height: 174px;
}
.art_message{
	width: 100%;
}
.art_message >a> h3 {
	transition: 0.3s;
	padding  : 10px 0px 10px 0px;
	margin   : 0px;
	height   : 40px;
	color    : #3b5064; 
	font-size: 15px;
	width    : 100%;
	overflow : hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.art_message >a> h3:hover{
	color: #868686;
}
.art_message > a>div {
	width: 100%;
	color: #9aabb8;
	font-size: 15px;
	font-weight: 200;
}
.art_message > div {
	width: 100%;
	color: #9aabb8;
	font-size: 15px;
	font-weight: 200;
}
.art_sawcount,.art_comcount,.art_likecount{
	font-size: 16px;
	font-weight: 200;
}
.art_com{
	height: 24px;
	overflow: hidden;
}
.art_com > div > span {
	padding: 0px;
	cursor: default;
	font-size: 14px;
	position: relative;
}
.art_com > span{
	cursor: default;
}
.art_com > div {
	cursor: default;
	margin-top: 0px;
	float: left;
	height: auto;
	overflow: hidden;
}
.art_ori{
	font-size: 12px;
	float: left;
	padding  : 1px 5px 2px 5px;
	background:#dfe5e9;
	border-radius: 3px;
}
.art_com > div > span > img{
	vertical-align:middle;
	height: 15px;
}
.art_user_mess{

}
.article:hover .article_cont>.art_message>.art_user_mess{
	transition: 0.5s;
	border-bottom: 1px solid rgba(0,0,0,0);
}
.art_user_mess{
	height: auto;
	z-index: 2;
	overflow: hidden;
	margin-bottom: -1px;
	border-bottom: 1px solid #d8d8d8;
}
.art_user_mess > img{
	float: left;
	padding: 5px;
	width  : 35px;
	height : 35px;
	border-radius: 50%;
}
.art_user_mess > h5 {
	height: 20px;
	float: left;
	color:#2c3e50;
	margin: 10px;
}
#more_art{
	width     : 400px;
	color     : #626a6d;
	padding   : 10px;
	cursor    : pointer;
	margin-top: 30px;
	transition: 0.3s;
	text-align: center;
	border-radius: 3px;
	margin-left : auto;
	margin-right: auto; 
	background  : #dfe5e9;
}
#more_art:hover{
	color: #333;
	background:#ebebeb;
}





