<div class="main_search">
	<div class="mainSearchTitleContainer">
		 <div class="seac marinSearchUser">用户</div>
		 <img class="seac" src="/img/search_choose.png">
		 <div class="mainSearchChoose">
		 	 <div id="mainSearch_by_article">内容</div>
		 	 <div id="mainSearch_by_user">用户</div>
		 </div>
	</div>
	<div class="mainSearchInput">
		<input id="marinSearchTitle" type="text" placeholder="请输入搜索内容">
	</div>
	<div class="mainSearchGo" onclick="mainSearch()">
		搜索
	</div>
</div>