<div class="comment newcomment">
	<div class="comment_userhead">
		<img src="<%= comment.userhead%>">
	</div>
	<div class="com_contents">
		<h3>
		<span class="username"><%= comment.username%></span> <span class="updatetime"><%= comment.updatetime%>
		</span></h3>
		<p><%= comment.content%></p>
	</div>
</div>