<div class="imgcut">
	<div class="imgcut_container">
	    <div class="coverimgcontainer">
	        <img src="/img/p3.jpg">
	    </div>
		<div class="img_pre">
		    <div class="coverimg-preview headimg-preview-sm" style="width:218.181px;height:120px;">
		        
		    </div>
		    <div class="btn-group" style="width:200px;margin-top:20px;">
		        <label title="Upload image file" for="coverinputImage" class="btn btn-primary">
		            <input type="file" accept="image/*" name="file" id="coverinputImage" class="hide">
		            选择新图片
		        </label>
		        <div id="downloadcover" class=" btn btn-primary" style="margin-left: 20px">确定</div>
		    </div>
		</div>
	</div>
<!-- 		<div class="image-crop">
            <img src="img/p3.jpg">
        </div>
        <div class="img_pre">
        	<label title="Upload image file" for="inputImage" class="btn btn-primary">
                <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                Upload new image
            </label>
            <label title="Donload image" id="download" class="btn btn-primary">Download</label>
        </div>
	</div>  -->
</div>