<meta charset="utf-8">
<link href="/css/phone/style.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<script src="/js/jquery-2.0.3.min.js"></script>
<style type="text/css">  
@viewport  
{  
    zoom: 1.0;  
    width: 620px;  
}  
@-ms-viewport  
{  
    width: 620px;  
    zoom: 1.0;  
}</style>  
<meta name="viewport" id="WebViewport" content="width=620,initial-scale=0.6,target-densitydpi=device-dpi,minimum-scale=0.5,maximum-scale=1,user-scalable=1" />  
<meta name="apple-mobile-web-app-capable" content="yes">  
<meta name="apple-mobile-web-app-status-bar-style" content="black">  
<meta name="format-detection" content="telephone=no">  
<script language="javascript">  
if(screen.width<620)  
{  
    document.getElementById('WebViewport').setAttribute('content', 'width=620px,initial-scale=' + screen.width / 620 + ',target-densitydpi=device-dpi,minimum-scale=0.5,maximum-scale=1,user-scalable=1');  
}  
</script>  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fac8165fba8acae1ceff448b19824579";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<title><%= title%></title>
<meta name="keywords" content="托福（TOEFL），雅思（IELTS），ACT,SAT,GRE,GMAT，出国考试，英语，享留学，留学指南，留学申请，留学经验，备考经验，申请文书" />
<meta name="description" content="享留学是集出国留学考试备考，经验分享，申请指南，申请经验，国外留学生活分享，社交等为一体的内容分享资源交流平台，内容包括托福，雅思，GRE，GMAT，ACT，SAT等考试的干货分享、备考经验，以及美国、英国、欧洲、澳洲、日本等大学的留学申请指南，留学生活分享，并为国内外各学子提供了便利的交流平台。" />