<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
   <% include ../title/title%>
   <link href="/css/users/userfollow.css" rel="stylesheet"> 
</head>
<body>
	<%include ../header/header%>
	<div id="main_container">
		<%include ../search/search%>
		<div id="followlist">
			<%include ../../public/views/user/followlist%>
		</div>
		<%if((totalPage <= 1) || (lastPage == true)){%>
			
		<%}else{%>
		<div id="more_art" onclick="moreFollowList()">
			加载更多
		</div>
		<%}%>
	</div>
<%include ../footer/footer%>
<script src="/js/style.js"></script>
<script src="/js/plugins/page/jquery_page.js"></script>
<script src="/js/warning/warning.js" type="text/javascript"></script>
<script src="/js/plugins/ejs/ejs.js"></script>
<script src="/js/users/userSearch.js"></script>

</body>	
</html>